:root {
  --dark: #000000;
  /* --dark: #ffffff; */
  --text: #00c3ff;
  --svg: #ea60ff;
  --nav: #84c40d;
  font-size: 1rem;
}
.Gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    transition: all 3s;

  }
  .carousel-item > img {
    border-radius: 20px;
  }
  
  .card {
    flex-basis: calc(100% / 4 - 20px); 
    flex-shrink: 0; /* don't shrink, and don't wrap -> leave the container*/
  }
  @media screen and (min-width: 1527px)  {
    .card {
      flex-basis: calc(100% / 5 - 20px);
      
    }
    .navbar__container{
        width: 30%;
        justify-content: start;
      }
    .navbar__input{
        width:100%;
    }
    .description__page__global__container{
      display: flex;
      margin: 10px 30px;
    }
    .description__page__container{
      flex-direction: column;
      margin: 0;
      width: 400px;
      align-items: flex-start;
    }
    .description__page__container__title{
      max-width: none !important;
    }
    .carousel{
      max-width: 60vw;
    }
    .description__main__div{
      margin: 0 10% 0 10%;
      background-color: var(--dark);
      min-height: 100vh;
    }
    body{
       background-color: #000000;
      }
   
  }
  
  @media screen and (min-width: 967px) and (max-width: 1526px) {
    .card {
      flex-basis: calc(100% / 4 - 20px);
      
    }
    .navbar__container{
        width: 25%;
        justify-content: start;

      }
      .navbar__input{
        width:100%;
    }
  }
  

  @media screen and (min-width: 600px) and (max-width: 967px) {
    .card {
      flex-basis: calc(100% / 2 - 20px);
    }
  }
  @media screen and (max-width: 599px) {
    .card {
      flex-basis: calc(100% - 20px);
    }
  }
  @media screen and (max-width: 300px) {
    .filter__container__section{
      flex-direction: column;
    }
    .card {
      flex-basis: calc(100% - 20px);
    }
    .main__nav{
      flex-direction: column;
    }
    .navbar__container{
        /* width: 25%; */
        box-sizing: border-box;
        justify-content: start;
        overflow: hidden;
        gap: 0px;
      }
    .navbar__input{
        /* width:20%; */
        
        box-sizing: border-box;
    }
    .description__page__container{
      flex-direction: column;
    }
    .about__section > span,h2 {
      word-break: break-all;
    }
  }
  .card {
    box-sizing: border-box;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: #1f1f1f;
    margin: 10px 10px 10px 10px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
  }
  .card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px 1px rgba(63, 149, 57, 0.75);
    
  }
  .card__img{
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .card__rating__date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: auto;
    flex-grow: 1;
    align-items: flex-end;
   
  }
  .card__rating__date > span{
    margin:  0 10px 0 10px;
    border-top: #00c3ff solid 3px;
  }

  .description__page__container{
      justify-content: space-between;
  }
  .description__page__container > div {
    margin: 0 10px 0 10px;
  }
  .description__page__container__title{
    /* border: 1px solid blue; */
    /* word-wrap: break-word; */
    max-width: 70%;
  }
  .global__card__container{
    width: 100%;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
    flex-direction: column !important;
  }
  .rainbow {
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 1rem;
    text-shadow: 2px 2px 4px #000000;
    -webkit-animation: rainbow 5s infinite; 
    display: block;
    text-align: center;
    border-top: 1px solid cyan;
    border-bottom: 1px solid cyan;
    font-weight: 800;
  }
  .desktop__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .desktop__info > b,span,p {
    margin: 15px 0 15px 0;
  }
  .desktop__info  span, a{
    color: grey;
    font-weight: 500;
    word-wrap: break-word;
  }
  .desc__rating{
    color: rgb(0, 144, 0);
  }
  @keyframes rainbow{
    0%{color: orange;}  
    10%{color: purple;} 
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
  }
  