.Gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    transition: all 3s;

  }
  
  .card {
    flex-basis: calc(100% / 4 - 20px); 
    flex-shrink: 0; /* don't shrink, and don't wrap -> leave the container*/
  }
  @media screen and (min-width: 1127px)  {
    .card {
      flex-basis: calc(100% / 5 - 20px);
      
    }
    .navbar__container{
        width: 30%;
        justify-content: start;
      }
    .navbar__input{
        width:100%;
    }
  }
  
  @media screen and (min-width: 967px) and (max-width: 1127px) {
    .card {
      flex-basis: calc(100% / 4 - 20px);
      
    }
    .navbar__container{
        width: 25%;
        justify-content: start;
      }
      .navbar__input{
        width:100%;
    }
  }
  

  @media screen and (min-width: 600px) and (max-width: 967px) {
    .card {
      flex-basis: calc(100% / 2 - 20px);
    }
  }
  @media screen and (max-width: 599px) {
    .card {
      flex-basis: calc(100% - 20px);
    }
  }
  @media screen and (max-width: 300px) {
    .card {
      flex-basis: calc(100% - 20px);
    }
    .navbar__container{
        width: 25%;
        justify-content: start;
      }
    .navbar__input{
        width:20%;
    }
  }
  .card {
    box-sizing: border-box;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: #1f1f1f;
    margin: 10px 10px 10px 10px;
  }
  .card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px 1px rgba(63, 149, 57, 0.75);
    
  }
  .card__img{
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .card__rating__date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  .card__rating__date > span{
    margin:  0 10px 0 10px;
  }
  .description__page__container{
      justify-content: space-between;
  }
  .description__page__container > div {
    margin: 0 10px 0 10px;
  }
  .description__page__container__title{
    /* border: 1px solid blue; */
    /* word-wrap: break-word; */
    max-width: 70%;
  }
  .global__card__container{
    width: 100%;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
    flex-direction: column !important;
  }

  